@media print {
  body {
    /* background-color: #1a4567 !important; */
    print-color-adjust: exact;
  }
}

@page {
  size: auto; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}
